<div class="App">
  <div class="App__container">
    <div class="App__content">
      <h3 class="App__title">Конвертер валют</h3>
      <div class="App__selects">
        <custom-select
          [title]="'from'"
        ></custom-select>

        <img
          class="App__arrows"
          src="./assets/imgs/arrows.png"
          alt=""
          (click)="handleChangeCurrencies()"
          *ngIf="!isLoading; else loader"
        >
        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>

        <custom-select
          [title]="'to'"
        ></custom-select>
      </div>
      <div class="App__inputs">
        <form class="App__inputs" [formGroup]="formInputs">
          <input
            type="text"
            class="App__input"
            formControlName="valueFrom"
            (input)="onlyNumbers($event)"
          >
          <input
            type="text"
            class="App__input"
            formControlName="valueTo"
            (input)="onlyNumbers($event, false)"
          >
        </form>
      </div>
    </div>
  </div>
</div>
