<div class="App">
  <div class="App__container">
    <div class="App__content">
      <h3 class="App__title">Конвертер валют</h3>
      <div class="App__selects">
        <custom-select
          [title]="'from'"
        ></custom-select>

        <img
          class="App__arrows"
          src="../assets/imgs/arrows.png"
          alt=""
          (click)="handleChangeCurrencies()"
          *ngIf="!isLoading; else loader"
        >
        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>



        <custom-select
          [title]="'to'"
        ></custom-select>
      </div>
      <div class="App__inputs">
        <input
          type="text"
          class="App__input"
          [value]="fromInputValue"
          (keyup)="inputChange($event)"
          oninput="this.value = this.value.replace(/[^0-9.,]/g, '').replace(/(\..*?)\..*/g, '$1').replace(',', '.');"
        >
        <input
          type="text"
          class="App__input"
          [value]="toInputValue"
          (keyup)="inputChange($event, false)"
          oninput="this.value = this.value.replace(/[^0-9.,]/g, '').replace(/(\..*?)\..*/g, '$1').replace(',', '.');"
        >
      </div>
    </div>
  </div>
</div>
